<HML>
    <head>
        <title>Despidiendo el instituto</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Despidiendo el instituto</a></h1>
        </div>

        <div>
        <h2>Cosas que voy a echar de menos:</h2>
        </div>

        <div>
            <p>Evidentemente y sin ningún tipo de sarcasmo ni ironía, lo que más echare de menos són las clases de mates con Isabel Fernández. Sobretodo a Isabel Fernández.</p>
        </div>

        <div>
        <h2>Cosas que no voy a echar de menos:</h2>
        </div>

        <div>
            <p>Catalán, castellano, historia, filosofía, ingles...</p>
        </div>
    </body>
</HML>